<h1 class="text-center my-2">Inicio de Sesion</h1>

<!-- mensajes de error -->
<div class="container my-2">
    <div *ngIf="infoUsuario" class="alert alert-{{infoUsuario[1]}} d-flex flex-no-wrap justify-content-between align-items-center" role="alert">
        <span>{{infoUsuario[0]}}</span>
        <span class="btn" (click)="resetInfoUsuario()">X</span>
    </div>
</div>

<div class="container">
    <form class="my-3 mx-auto" style="max-width: 30em;">
        <div class="form-group my-1">
          <label for="email">Correo Electronico</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" aria-describedby="emailHelpId" placeholder="Correo Electronico">
        </div>
        <div class="form-group my-1">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" aria-describedby="passwordHelpId" placeholder="Contraseña">
        </div>
        <div class="form-group my-2">
            <button type="button mx-2" class="btn btn-primary" (click)="login()">Ingresar</button>
            <a href="#" class="link mx-1 text-muted">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>