<h1 class="text-center text-capitalize my-2">Administra tus notas</h1>
<p class="my-1 text-center">Administra la informacion que has subido en tus notas de forma agil con esta seccion de la aplicación que te permite leer editar y eliminar tus notas en poco tiempo</p>


<!-- mensajes de error -->
<div class="container my-2">
    <div *ngIf="infoUsuario" class="alert alert-{{infoUsuario[1]}} d-flex flex-no-wrap justify-content-between align-items-center" role="alert">
        <span>{{infoUsuario[0]}}</span>
        <span class="btn" (click)="resetInfoUsuario()">X</span>
    </div>
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-12 col-lg-6">
            <form>
                <h3 class="text-center">Crear Nota</h3>
                <div class="form-group my-1">
                    <label class="my-1" for="titulo">Titulo</label>
                    <input type="text" [(ngModel)]="nota.title" maxlength="30" name="titulo" required
                        id="titulo" class="form-control" placeholder="Titulo..." aria-describedby="helpId">
                </div>

                <div class="form-group my-1">
                    <label class="my-1" for="category-id">Categoria</label>
                    <select name="category-id" required id="category-id" value="{{nota.category_id}}" [(ngModel)]="nota.category_id" class="form-control">
                        <option *ngFor="let category of listaCategorias" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
                <div class="form-group my-1">
                    <label class="my-1" for="status-id-update">Estatus</label>
                    <select name="status-id" id="status-id" [(ngModel)]="nota.status" class="form-control">
                        <option *ngFor="let status of listaStatus" value="{{status.id}}">{{status.name}}</option>
                    </select>
                </div>

                <div class="form-group my-1">
                    <label class="my-1" for="contenido">Nota</label>
                    <textarea name="contenido" maxlength="3000" [(ngModel)]="nota.body" placeholder="Escribe tu nota aqui..."
                        id="contenido" required class="form-control"
                        style="max-height: 200px; height: 8em;"></textarea>
                </div>
                <div class="form-group my-1">
                    <button type="button" class="btn btn-primary me-1" (click)="crearNota()">Guardar</button>
                    <button type="reset" class="btn btn-secundary">Limpiar</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center font-weight-bold">Lista de notas</h2>

            <table class="table table-striped col-12 col-lg-6" id="datos">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nota of listaNotas">
                        <td scope="row">{{nota.title}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" (click)="cargaEditarNota(nota.id)"
                                data-bs-toggle="modal" data-bs-target="#modalleer">Leer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal Update -->
<!-- Button trigger modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalUpdateLabel">Editar Nota</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" [(ngModel)]="notaEditar.id" name="id">
                <div class="form-group">
                    <label class="my-1" for="titulo">Titulo</label>
                    <input type="text" maxlength="30" [(ngModel)]="notaEditar.title" value="notaEditar.title" name="titulo" required
                        id="titulo-update" class="form-control" placeholder="Titulo..." aria-describedby="helpId">
                </div>
                <div class="form-group my-1">
                    <label class="my-1" for="category-id">Categoria</label>
                    <select name="category-id" id="category-id-update" [(ngModel)]="notaEditar.category_id" class="form-control">
                        <option *ngFor="let category of listaCategorias" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
                <div class="form-group my-1">
                    <label class="my-1" for="status-id-update">Estatus</label>
                    <select name="status-id" id="status-id-update" [(ngModel)]="notaEditar.status" class="form-control">
                        <option *ngFor="let status of listaStatus" value="{{status.id}}">{{status.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="my-1" for="contenido">Nota</label>
                    <textarea name="contenido" maxlength="3000" [(ngModel)]="notaEditar.body" placeholder="Escribe tu nota aqui..."
                        id="contenido-update" required class="form-control"
                        style="max-height: 200px; height: 8em;">{{notaEditar.body}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="editarNota()">Guardar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal leer -->
<div class="modal fade modal-dialog-scrollable" id="modalleer" tabindex="-1" aria-labelledby="modalleerLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="modalleerLabel">{{ notaEditar.title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex my-1 flex-wrap justify-content-around align-items-center p-1">
                    <p *ngIf="category" class="text-center">Categoria: <span class="badge bg-secondary fs-5">{{ category.name }}</span></p>
                    <p *ngIf="status" class="text-center">Status <span class="badge bg-secondary fs-5">{{ status.name }}</span></p>
                </div>
                <p class="my-2">{{ notaEditar.body }}</p>

            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success"  data-bs-dismiss="modal" data-bs-target="#modalUpdate" data-bs-toggle="modal" (click)="cargaEditarNota(notaEditar.id)">Editar</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar"
                    (click)="cargaEditarNota(notaEditar.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="delete" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEliminarLabel">Eliminar nota</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" name="id" [(ngModel)]="notaEditar.id">
            <div class="modal-body">
                ¿Estas seguro de eliminar la nota {{notaEditar.title}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarNota()" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
    </div>
</div>