<h1 class="text-center text-capitalize my-2">Administra tus eventos</h1>

<p class="my-1 text-center">Planifica mejor tu vida con este practico almacenador de eventos que ta ayudará a mejorar tu
    manejo del tiempo </p>

<!-- mensajes de error -->
<div class="container my-2">
    <div *ngIf="infoUsuario" class="alert alert-{{infoUsuario[1]}} d-flex flex-no-wrap justify-content-between align-items-center" role="alert">
        <span>{{infoUsuario[0]}}</span>
        <span class="btn" (click)="resetError()">X</span>
    </div>
</div>


<div class="row my-3">

    <div class="col-12 col-lg-6">
        <h2 class="text-center">Crear Evento</h2>
        <form action="">
            <div class="form-group">
                <label class="my-1" for="evento">Evento</label>
                <input type="text" name="evento" required [(ngModel)]="evento.title" id="evento" class="form-control"
                    placeholder="Nombre del evento" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label class="my-1" for="descripcion">Descripcion</label>
                <textarea name="descripcion" [(ngModel)]="evento.description" id="descripcion" class="form-control"
                    style="max-height: 200px; height: 5em;" placeholder="Descripcion..."></textarea>
            </div>
            <div class="form-group">
                <label class="my-1" for="lugar">Lugar</label>
                <input type="text" name="lugar" [(ngModel)]="evento.place" required id="lugar" class="form-control"
                    placeholder="Lugar del evento" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label class="my-1" for="fecha">Fecha</label>
                <input type="date" name="fecha" required id="fecha" [(ngModel)]="evento.date" class="form-control"
                    placeholder="Fecha del evento" aria-describedby="helpId">
            </div>
            <div class="form-group my-1">
                <button type="button" class="btn btn-primary me-2" (click)="crear()">Guardar</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="text-center">Lista de Eventos</h2>
        <table class="table table-striped" id="datos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Lugar</th>
                    <th>fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of listaEventos">
                    <td>{{evento.title}}</td>
                    <td>{{evento.description}}</td>
                    <td>{{evento.place}}</td>
                    <td>{{dateToString(evento.date)}}</td>
                    <td>
                        <button class="btn btn-success my-1 mx-1" data-bs-target="#modalUpdate" data-bs-toggle="modal"
                            (click)="cargarDatosEdicion(evento.id)">Editar</button>
                        <button class="btn btn-danger my-1 mx-1" data-bs-target="#modalDelete" data-bs-toggle="modal"
                            (click)="cargarDatosEdicion(evento.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<!-- Modal update -->
<!-- Button trigger modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalUpdateLabel">Editar Evento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="my-1" for="evento">Evento</label>
                    <input type="text" name="evento" required [(ngModel)]="eventoEditar.title" id="evento"
                        class="form-control" placeholder="Nombre del evento" aria-describedby="helpId">
                </div>
                <input type="hidden" [(ngModel)]="eventoEditar.id" [ngModelOptions]="{standalone: true}">
                <div class="form-group">
                    <label class="my-1" for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" [(ngModel)]="eventoEditar.description"
                        class="form-control" style="max-height: 200px; height: 5em;"
                        placeholder="Descripcion..."></textarea>
                </div>
                <div class="form-group">
                    <label class="my-1" for="lugar">Lugar</label>
                    <input type="text" name="lugar" required [(ngModel)]="eventoEditar.place" id="lugar"
                        class="form-control" placeholder="Lugar del evento" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label class="my-1" for="fecha">Fecha</label>
                    <input type="date" name="fecha" required [(ngModel)]="eventoEditar.date" id="fecha"
                        class="form-control" placeholder="Fecha del evento" aria-describedby="helpId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="editar()">Guardar</button>
            </div>
        </form>
    </div>
</div>


<!-- modal Eliminar -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="delete" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteLabel">Eliminar Evento</h1>
            </div>
            <div class="modal-body">
                ¿Estas seguro de eliminar el evento {{eventoEditar.title}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger" (click)="eliminar()"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
    </div>
</div>